<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.partner.mapper.BaseCustomerMapper">
    
    <resultMap type="com.ruoyi.partner.domain.BaseCustomer" id="BaseCustomerResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="phone"    column="phone"    />
        <result property="fax"    column="fax"    />
        <result property="saleType"    column="sale_type"    />
        <result property="identifyCode"    column="identify_code"    />
        <result property="bankName"    column="bank_name"    />
        <result property="accountNumber"    column="account_number"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBaseCustomerVo">
        select id, code, name, address, phone, fax, sale_type, identify_code, bank_name, account_number, status, del_flag, create_by, create_time, update_by, update_time, remark from base_customer
    </sql>

    <select id="selectBaseCustomerList" parameterType="com.ruoyi.partner.domain.BaseCustomer" resultMap="BaseCustomerResult">
        <include refid="selectBaseCustomerVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
        </where>
    </select>
    
    <select id="selectBaseCustomerById" parameterType="Long" resultMap="BaseCustomerResult">
        <include refid="selectBaseCustomerVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseCustomer" parameterType="com.ruoyi.partner.domain.BaseCustomer" useGeneratedKeys="true" keyProperty="id">
        insert into base_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="address != null">address,</if>
            <if test="phone != null">phone,</if>
            <if test="fax != null">fax,</if>
            <if test="saleType != null">sale_type,</if>
            <if test="identifyCode != null">identify_code,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="accountNumber != null">account_number,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="address != null">#{address},</if>
            <if test="phone != null">#{phone},</if>
            <if test="fax != null">#{fax},</if>
            <if test="saleType != null">#{saleType},</if>
            <if test="identifyCode != null">#{identifyCode},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="accountNumber != null">#{accountNumber},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBaseCustomer" parameterType="com.ruoyi.partner.domain.BaseCustomer">
        update base_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="fax != null">fax = #{fax},</if>
            <if test="saleType != null">sale_type = #{saleType},</if>
            <if test="identifyCode != null">identify_code = #{identifyCode},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="accountNumber != null">account_number = #{accountNumber},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseCustomerById" parameterType="Long">
        delete from base_customer where id = #{id}
    </delete>

    <delete id="deleteBaseCustomerByIds" parameterType="String">
        delete from base_customer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>