<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quality.mapper.QcProductInspectionStandardItemsMapper">
    
    <resultMap type="com.ruoyi.quality.domain.QcProductInspectionStandardItems" id="QcProductInspectionStandardItemsResult">
        <result property="id"    column="id"    />
        <result property="standardId"    column="standard_id"    />
        <result property="rowId"    column="row_id"    />
        <result property="qcItemId"    column="qc_item_id"    />
        <result property="qcInspectionMethod"    column="qc_inspection_method"    />
        <result property="technicalSpecification"    column="technical_specification"    />
        <result property="isKeyItem"    column="is_key_item"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectQcProductInspectionStandardItemsVo">
        select id, standard_id, row_id, qc_item_id, qc_inspection_method, technical_specification, is_key_item, del_flag, create_by, create_time, update_by, update_time, remark from qc_product_inspection_standard_items
    </sql>

    <select id="selectQcProductInspectionStandardItemsList" parameterType="com.ruoyi.quality.domain.QcProductInspectionStandardItems" resultMap="QcProductInspectionStandardItemsResult">
        <include refid="selectQcProductInspectionStandardItemsVo"/>
        <where>  
            <if test="standardId != null "> and standard_id = #{standardId}</if>
            <if test="rowId != null "> and row_id = #{rowId}</if>
            <if test="qcItemId != null "> and qc_item_id = #{qcItemId}</if>
            <if test="qcInspectionMethod != null  and qcInspectionMethod != ''"> and qc_inspection_method = #{qcInspectionMethod}</if>
            <if test="technicalSpecification != null  and technicalSpecification != ''"> and technical_specification = #{technicalSpecification}</if>
            <if test="isKeyItem != null  and isKeyItem != ''"> and is_key_item = #{isKeyItem}</if>
        </where>
    </select>
    
    <select id="selectQcProductInspectionStandardItemsById" parameterType="Long" resultMap="QcProductInspectionStandardItemsResult">
        <include refid="selectQcProductInspectionStandardItemsVo"/>
        where id = #{id}
    </select>

    <insert id="insertQcProductInspectionStandardItems" parameterType="com.ruoyi.quality.domain.QcProductInspectionStandardItems" useGeneratedKeys="true" keyProperty="id">
        insert into qc_product_inspection_standard_items
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="standardId != null">standard_id,</if>
            <if test="rowId != null">row_id,</if>
            <if test="qcItemId != null">qc_item_id,</if>
            <if test="qcInspectionMethod != null and qcInspectionMethod != ''">qc_inspection_method,</if>
            <if test="technicalSpecification != null">technical_specification,</if>
            <if test="isKeyItem != null and isKeyItem != ''">is_key_item,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="standardId != null">#{standardId},</if>
            <if test="rowId != null">#{rowId},</if>
            <if test="qcItemId != null">#{qcItemId},</if>
            <if test="qcInspectionMethod != null and qcInspectionMethod != ''">#{qcInspectionMethod},</if>
            <if test="technicalSpecification != null">#{technicalSpecification},</if>
            <if test="isKeyItem != null and isKeyItem != ''">#{isKeyItem},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateQcProductInspectionStandardItems" parameterType="com.ruoyi.quality.domain.QcProductInspectionStandardItems">
        update qc_product_inspection_standard_items
        <trim prefix="SET" suffixOverrides=",">
            <if test="standardId != null">standard_id = #{standardId},</if>
            <if test="rowId != null">row_id = #{rowId},</if>
            <if test="qcItemId != null">qc_item_id = #{qcItemId},</if>
            <if test="qcInspectionMethod != null and qcInspectionMethod != ''">qc_inspection_method = #{qcInspectionMethod},</if>
            <if test="technicalSpecification != null">technical_specification = #{technicalSpecification},</if>
            <if test="isKeyItem != null and isKeyItem != ''">is_key_item = #{isKeyItem},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQcProductInspectionStandardItemsById" parameterType="Long">
        delete from qc_product_inspection_standard_items where id = #{id}
    </delete>

    <delete id="deleteQcProductInspectionStandardItemsByIds" parameterType="String">
        delete from qc_product_inspection_standard_items where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>