<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quality.mapper.QcProductInspectionStandardsMapper">
    
    <resultMap type="com.ruoyi.quality.domain.QcProductInspectionStandards" id="QcProductInspectionStandardsResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="figureNumber"    column="figure_number"    />
        <result property="model"    column="model"    />
        <result property="specification"    column="specification"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectQcProductInspectionStandardsVo">
        select id, code, name, figure_number, model, specification, del_flag, create_by, create_time, update_by, update_time, remark from qc_product_inspection_standards
    </sql>

    <select id="selectQcProductInspectionStandardsList" parameterType="com.ruoyi.quality.domain.QcProductInspectionStandards" resultMap="QcProductInspectionStandardsResult">
        <include refid="selectQcProductInspectionStandardsVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="figureNumber != null  and figureNumber != ''"> and figure_number = #{figureNumber}</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="specification != null  and specification != ''"> and specification = #{specification}</if>
        </where>
    </select>
    
    <select id="selectQcProductInspectionStandardsById" parameterType="Long" resultMap="QcProductInspectionStandardsResult">
        <include refid="selectQcProductInspectionStandardsVo"/>
        where id = #{id}
    </select>

    <insert id="insertQcProductInspectionStandards" parameterType="com.ruoyi.quality.domain.QcProductInspectionStandards" useGeneratedKeys="true" keyProperty="id">
        insert into qc_product_inspection_standards
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="figureNumber != null">figure_number,</if>
            <if test="model != null">model,</if>
            <if test="specification != null">specification,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="figureNumber != null">#{figureNumber},</if>
            <if test="model != null">#{model},</if>
            <if test="specification != null">#{specification},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateQcProductInspectionStandards" parameterType="com.ruoyi.quality.domain.QcProductInspectionStandards">
        update qc_product_inspection_standards
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="figureNumber != null">figure_number = #{figureNumber},</if>
            <if test="model != null">model = #{model},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQcProductInspectionStandardsById" parameterType="Long">
        delete from qc_product_inspection_standards where id = #{id}
    </delete>

    <delete id="deleteQcProductInspectionStandardsByIds" parameterType="String">
        delete from qc_product_inspection_standards where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>